{% extends "base.html.twig" %}

{% block title %}Contactos
{% endblock %}
{% block body %}
	<a href="{{ path('app_logout') }}" class="btn btn-outline-danger float-end">Logout</a>
	<a href="{{ path('nuevo_contacto') }}" class="btn float-end btn-secondary" style="margin-right: 10px;">Nuevo contacto</a>
	<h1>Listado de contactos</h1>
	{% if app.user %}
		<div class="mb-3 float-end">
			Has iniciado sesión como
			{{ app.user.name }}<br>
		</div>
	{% endif %}

	{% if contactos %}
		{% for contacto in contactos %}
			<div class="cont">
				{{ include ('partials/datos_contacto.html.twig', {'contacto': contacto}) }}
				<a href="/contacto/config/{{contacto.id}}">
					<img src="{{ asset('images/engranaje.png') }}"/>
				</a>
			</div>
		{% endfor %}
	{% else %}
		<p>No se han encontrado contactos</p>
	{% endif %}
{% endblock %}
